body {
  background-color: black;
  font-family: 'Oswald', sans-serif; /* Changed font to Oswald */
  color: white;
  margin: 0;
  padding: 0;
}

.portfolio-container {
  max-width: 900px; /* Increased max-width for more spacious layout */
  margin: 0 auto;
  padding: 20px; /* Added padding for additional spacing */
}

.hero {
  text-align: center;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #111; /* Darker background color for the navigation bar */
}

.nav-link {
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #333; /* Darker color on hover */
}

.home, .about, .skills, .projects, .contact {
  padding: 40px;
  background-color: #000; /* Dark background color for sections */
  margin: 20px 0;
  border-radius: 10px;
}

.main-title {
  font-size: 3em; /* Increased font size for main title */
  color: #3498db; /* Accent color for main title */
  margin-bottom: 10px;
}

.sub-title {
  font-size: 1.5em; /* Increased font size for sub title */
  color: #ddd; /* Lighter color for sub title */
}

h2 {
  font-size: 2.5em; /* Increased font size for section titles */
  color: #3498db; /* Accent color for section titles */
  margin-bottom: 20px;
}

h3 {
  font-size: 2em; /* Increased font size for project titles */
  color: #3498db; /* Accent color for project titles */
}

li {
  margin-bottom: 8px;
  font-size: 1.5em; /* Increased font size for list items */
  color: #ddd; /* Lighter color for list items */
  cursor: pointer;
  transition: transform 0.3s;
}

.popup-info:hover {
  transform: scale(1.1); /* Popup effect on hover */
}

a {
  color: #3498db; /* Accent color for links */
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #e74c3c; /* Lighter accent color on hover */
}

.skills ul,
.projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.skills li,
.projects li {
  width: 48%; /* Adjusted width for a two-column appearance */
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #ddd;
  cursor: pointer;
  transition: transform 0.3s;
}
.thanks-section {
  text-align: center;
  margin-top: 40px;
}

.thanks-message {
  color: #e74c3c; /* Red color */
  font-family: 'Oswald', sans-serif; /* Masculine font */
  font-weight: bold; /* Bold text */
  font-size: 1.5em; /* Adjust font size as needed */
}
